<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="col-sm-6 col-md-6" >
    <div class="thumbnail">
      <img style="float: left; margin: 15px;" src=" {{ lesson.img_lesson }}" alt="...">
      <div class="caption">
        <a href="#/course/{{ lesson.id_course }}/lesson/{{ lesson.id_lesson }}" ><h3>{{ lesson.nazwa }}</h3></a>
        <p>{{ lesson.description_lesson }}</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
      </div>
    </div>
  </div>
</div>
</div>
